{% extends './base.njk' %}

{% block pageTitle %}
Chapter: {% block chapterTitle %}{% endblock %}
{% endblock %}

{% block pageBody %}
<h1>{{ chapterTitle }}</h1>
{% block chapterBody %}{% endblock %}
{% endblock %}
