{% extends './base.njk' %}

{% block pageTitle %}
Chapter: {{ chapterMetadata.title }}
{% endblock %}

{% block pageBody %}
{% if chapterMetadata.previous %}
    <a class="chapter-link previous" href="{{ rootPath + '/' + chapterMetadata.previous.outFile }}">{{ chapterMetadata.previous.title }}</a>
{% endif %}
{% if chapterMetadata.next %}
    <a class="chapter-link next" href="{{ rootPath + '/' + chapterMetadata.next.outFile }}">{{ chapterMetadata.next.title }}</a>
{% endif %}
<h1>{{ chapterMetadata.title }}</h1>
{% block chapterBody %}{% endblock %}
{% endblock %}
