{% macro js() %}
<pre><code class="language-javascript">{{ caller() | replace("<script>", "") | replace("</script>", "") | trim }}</code></pre>
{% endmacro %}

{% macro gloss(word) -%}
<span class="glossed-word">{{ word }}</span>
{%- endmacro %}
