{% macro icon(iconName) -%}
<span class="fa fa-{{ iconName }}" aria-hidden="true"></span>
{%- endmacro %}

{% macro js() %}
<figure class="code-example">
<figcaption>JavaScript</figcaption>
<pre><code class="language-javascript">{{ caller() | replace("<script>", "") | replace("</script>", "") | trim }}</code></pre>
</figure>
{% endmacro %}

{% macro gloss(word) -%}
<a class="glossary-link" href="{{ rootPath }}/en/glossary.html#{{ word }}" title="View definition of '{{ word }}' in glossary"><span class="glossed-word">{{ word }}</span>{{ icon("question-circle") }}</a>
{%- endmacro %}
