*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

header, footer {
    background: #222;
    color: #eee;
    padding: 10px;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

header {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    background: #263448;
    padding: 20px;
}

header .site-title {
    text-decoration: none;
    font-size: 32px;
    color: #263448;
    background: #eee;
    padding: 5px 10px;
}

header nav {
    font-size: 20px;
    float: right;
}

header nav ul {
    margin: 0;
}

header nav li {
    list-style-type: none;
}

header nav a {
    text-decoration: none;
    color: #eee;
}

header nav a:hover {
    text-decoration: underline;
}

footer a {
    color: #eee;
}

footer li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding-left: 16px;
    padding-right: 16px;
}

p {
    font-family: 'Georgia', 'Times', serif;
    line-height: 1.6em;
    font-size: 1.2em;
    padding-left: 16px;
    padding-right: 16px;
}

main {
    max-width: 800px;
    margin: 20px auto 40px auto;
    color: #222;
}

.chapter-link {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: #ddd;
    padding: 10px;
    margin: 0;
    color: #333;
    width: 50%;
    display: inline-block;
    text-decoration: none;
}

.chapter-link:hover {
    text-decoration: underline;
}

.chapter-link next {
    float: left;
}

.chapter-link previous {
    float: left;
}

a.glossary-link {
    color: #000;
    text-decoration: none;
}

a.glossary-link:hover {
    text-decoration: underline;
}

.glossed-word {
    font-weight: bold;
    margin-right: 2px;
}

figure.code-example {
    margin: 0;
}

figure.code-example > figcaption {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    color: #eee;
    font-size: 12px;
    background: #437386;
    padding: 3px 14px;
}

/* region: syntax highlighting */

code[class*="language-"],
pre[class*="language-"] {
	color: #e0e0e0;
	background: #263448;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 16px;
	margin: 0;
	overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em .2em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #9ab;
}

.token.punctuation {
	color: #999;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #ffc469;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #90ca1d;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #91d6ff;
    font-weight: bold;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important, .token.bold { font-weight: bold; }
.token.italic { font-style: italic; }
.token.entity { cursor: help; }
.namespace { opacity: .7; }

/* endregion: syntax highlighting */
