body {
    padding: 0;
    margin: 0;
}

header, footer {
    background: #222;
    color: #eee;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

p {
    font-family: 'Georgia', 'Times', serif;
    line-height: 1.6em;
    font-size: 1.2em;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #222;
}

nav {
    width: 400px;
    position: fixed;
    text-align: right;
    top: 100px;
    left: 50%;
    margin-left: -600px;
}

nav li {
    list-style-type: none;
}

/* region: syntax highlighting */

code[class*="language-"],
pre[class*="language-"] {
	color: #e0e0e0;
	background: #263448;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em .2em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #9ab;
}

.token.punctuation {
	color: #999;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #ffc469;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #90ca1d;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #91d6ff;
    font-weight: bold;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important, .token.bold { font-weight: bold; }
.token.italic { font-style: italic; }
.token.entity { cursor: help; }
.namespace { opacity: .7; }

/* endregion: syntax highlighting */
