{% extends '../templates/chapter.njk' %}

{% block chapterTitle %}
Programming for the web, part one
{% endblock %}

{% block chapterBody %}
<h1>Programming for the web, part one</h1>
<p>
    This is paragraph 1.
<p>
    This is paragraph 2.
{% endblock %}
