{% extends '../templates/chapter.njk' %}

{% block chapterTitle %}
Programming for the web, part two
{% endblock %}

{% block chapterBody %}
<p>
    This is paragraph 1.
<p>
    This is paragraph 2.
{% endblock %}
