{% extends '../templates/chapter.njk' %}

{% block chapterTitle %}
Deep dive into JavaScript
{% endblock %}

{% block chapterBody %}
<h1>Deep dive into JavaScript</h1>
<p>
    This is paragraph 1.
<p>
    This is paragraph 2.
{% endblock %}
