{% extends './base.njk' %}

{% block pageTitle %}
Acknowledgements
{% endblock %}

{% block pageBody %}
<h1>Acknowledgements</h1>

<p>This book makes use of the following awesome, open-source technologies:</p>

<ul>
    <li>
        <a href="#"><b>Nunjucks</b>: templating engine</a>
    </li>
    <li>
        <a href="#"><b>Prism.js</b>: syntax highlighting library</a>
    </li>
</ul>
{% endblock %}
