{% extends './base.njk' %}

{% block pageTitle %}
{{ metadata['acknowledgements']['page-title'] }}
{% endblock %}

{% block pageBody %}
<h1>{{ metadata['acknowledgements']['page-title'] }}</h1>

<p>{{ metadata['acknowledgements']['intro'] }}</p>

<ul>
    {% for entry in metadata['acknowledgements']['acknowledgement-list'] %}
    <li>
        <a href="{{ entry.link }}"><b>{{ entry.name }}</b></a>: {{ entry.description }}
    </li>
    {% endfor %}
</ul>
{% endblock %}
