{% extends './base.njk' %}

{% block pageTitle %}
{{ metadata['glossary']['page-title'] }}
{% endblock %}

{% block pageBody %}
<h1>{{ metadata['glossary']['page-title'] }}</h1>

<dl>
    {% for entry in metadata['glossary']['definition-list'] %}
    <dt>{{ entry.word }}</dt>
    <dd>{{ entry.definition }}</dd>
    {% endfor %}
</dl>
{% endblock %}
