{% macro icon(iconName) -%}
<span class="fa fa-{{ iconName }}" aria-hidden="true"></span>
{%- endmacro %}

{% macro js() %}
<figure class="code-example">
<figcaption>JavaScript</figcaption>
<pre><code class="language-javascript">{{ caller() | replace("<script>", "") | replace("</script>", "") | trim }}</code></pre>
</figure>
{% endmacro %}

{% macro gloss(word, metadata) -%}
<a class="glossary-link" href="/{{ metadata['language'] }}/{{ metadata['glossary']['out-file'] }}#{{ word }}" title="{{ metadata['glossary']['link-title-format'] | replace('{0}', word) }}"><span class="glossed-word">{{ word }}</span>{{ icon("question-circle") }}</a>
{%- endmacro %}
